/* style.css */

body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    text-align-last: center;
  }

.brand {
    margin-left: 10px;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.site-header {
    position: relative;
    background-color: #96abb3;
    z-index: 1;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
}

/* デスクトップ用スタイル */
@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between; /* メニューを両端に配置 */
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        height: 3.9rem; /* ヘッダーの縦幅を指定 */
    }

    .nav__wrapper {
        display: flex;
    }

    .nav__item--end {
        margin-left: auto;
    }

    .nav__toggle {
        display: none;
    }

    ul.nav__wrapper {
        list-style: none;
        padding: 0;
    }
    
}

/* モバイル用スタイル */
@media (max-width: 599px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 1rem;
        width: 150px;
        background-color: #96abb3;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        z-index: 2;
    }

    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        color: #ffffff;
    }
}
