body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    text-align-last: center;
  }

  h1 {
    font-size: 30px;
}
    h2 {
        font-weight:lighter;
}
  a{
    color: rgb(92, 209, 255);
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.profile{
  margin: 50px;
  background-color: #2c2c2c;
  height: 230px;;
  box-shadow: 0px 0px 20px #141414;
  border-radius: 20px;
}
.profile img{ 
  margin-right: 30px;float: right; margin-top: -20px;}
.profile p{padding-left: 20px; margin-top: -20px; padding-right: 250px;}


.Youtube{
  padding: 0.5rem;
}

.Youtube div{
  max-width: 700px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px #ffffff;
  float: none;
  justify-content: center;
  padding-top: 1px;
}

.child {
  background-color: #c4302b;
  height: 340px;
}
.Twitter {
  background-color: #6fbcec;
  height: 540px;
}
.Twitter a{
  box-shadow: 0px 0px 20px #000000;
}

.Discord {
  background-color: #8291ca;
  height: 540px;
}

.fream{
  box-shadow: 0px 0px 20px #000000;
  border-radius: 10px;
}


footer {
  background-color: #333; /* 背景色 */
  height: 70px;
  padding-top: 10px;
  color: #fff; /* 文字色 */
}

/* フッター内のテキストリンクに対するスタイル */
footer a {
  color: #7cf6ff; /* リンクの文字色 */
  text-decoration: none; /* リンクの下線を削除 */
}